 <% sketch.each.with_index do |e, i| %>
  <div class="sketch-item">
    <div class="sketch-sidebar" style="background-color:#<%= string_color(e.digit) %>">
    </div>
    <div class="sketch-stuff">
      <%= link_to "", e, class:'sketch-a' %>
      <h6 class="sketch-timestamp">
        推送于<%= time_ago_in_words(e.created_at) %>前
      </h6>
      <h3 class="sketch-h">
        <span class="badge badge-primary badge-pill"><%= e.digit %></span>
        <%= e.title %>
      </h3>
      <p class="sketch-p"><%= FFaker::Lorem.paragraph.html_safe %></p>
    </div>
  </div>
<% end %>