 <% sketch.each.with_index do |e, i| %>
  <div class="example-item">
    <div class="example-shot" style="background-color:#4c4c4c">
      <img src="https://loremflickr.com/300/120?random=<%= i %>" style="filter: brightness(80%);" />
      <%= link_to "", e, class:'example-link' %>
      <h6 class="example-date" style="color: #fff">
        <%= FFaker::LoremJA.word %>
      </h6>
    </div>
    <div class="example-name">
      <h6 class="example-title"><%= e.title %></h6>
      <h6 class="example-id"><%= e.digit %></h6>
      <div class="example-options">
        <span><i class="icon ion-md-eye"></i><%= e.view %></span>
        <span><i class="icon ion-md-heart"></i><%= e.clap %></span>
      </div>
    </div>
  </div>
<% end %>