<% provide(:title, 'Discover') %>
<% show_header %>
<%= content_for(:groups) do %>
  <%= render partial: 'sketches/groups/help_group', object: @sketch %>
  <%= render partial: 'sketches/groups/create_group', object: @sketch %>
<% end %>
<section class="sketches-container">
  <aside class="sketches-aside-wrapper">
    <div class="sketches-aside">
      <div class="container mb-sm-2">
        <button class="btn btn-primary btn-sm" data-switch="#createGroup" data-by="open">
          <ion-icon name="add-circle" class="icon"></ion-icon>
          <span>新建</span>
        </button>
        <button class="btn btn-primary btn-sm" data-get="<%= page_path('guides/1') %>" data-to="#helpGroup" data-toggle="modal" data-target="#helpGroup">
          <span>指南</span>
        </button>
      </div>
      <div class="container">
        <%= render 'sketches/forms/query' %>
        <h6 class="my-1 gray"><%= @sketches.count %> Founded</h6>
      </div>
    </div>
  </aside>
  <main class="sketches">
    <section class="sketches-stream">
      <% if @sketches.any? %>
        <%= render partial: "sketches/datas/sketch", object: @sketches %>
      <% else %>
        <h1>什么也没找到</h1>
      <% end %>
      <%= will_paginate @sketches, class:'pagination w-100 ml-1 mt-3 ml-md-4 page-info', previous_label: '上页', next_label:'下页' %>
    </section>
  </main>
</section>