<% provide(:title, 'Discover') %>
<section class="container-fluid">
  <div class="modal fade p-0" id="helpModal">
    <div class="modal-dialog">
    </div>
  </div>
</section>
<section id="popForm" class="row center-modal">
  <div class="pt-3 pb-4 px-2 px-md-4 br2 bw1 b--solid shadow-3" style="width: 450px;">
    <h1 class="text-center mt-3">Create
      <a href="#" data-switch="#popForm" data-by="open">
        <i class="icon36 i--hv ion-md-close ml-2"></i>
      </a>
    </h1>
    <%= render partial: 'sketches/form/creation', object: Sketch.new %>
  </div>
</section>
<section class="sketches-container">
  <aside class="sketches-aside-wrapper">
    <div class="sketches-aside">
      <div class="w-100 mb-sm-2" style="border-bottom: 3px dashed #b0bec5">
        <h5>程式库列表</h5>
        <p>点击<strong>新建</strong>，创建一个新的数据<br>
          <%= FFaker::Lorem.sentence %>
        </p>
        <a href="#" data-switch="#popForm" data-by="open">
          <i class="icon48 i--hv i--green ion-md-add-circle-outline"></i>
        </a>
        <a href="#" id="#getHelp" data-get="/h?i=1" data-to="#helpModal" data-toggle="modal" data-target="#helpModal">
          <i class="icon48 i--hv i--black ion-md-help-circle-outline"></i>
        </a>
      </div>
      <div class="w-100">
        <%= render 'sketches/form/query' %>
      </div>
      <div class="w-100">
        <h6 class="my-1 d-block fw5 gray ffpx"><%= @sketches.count %> Founded</h6>
      </div>
      <div class="w-100">
        <!-- <%= pie_by_week %> -->
      </div>
    </div>
  </aside>
  <main class="sketches">
    <section class="sketches-stream">
      <% if @sketches.any? %>
        <%= render partial: "sketches/obj/sketch", object: @sketches %>
      <% else %>
        <h1>什么也没找到</h1>
      <% end %>
      <div class="digg_pagination ml-md-4">
        <%= will_paginate @topics %>
      </div>
    </section>
  </main>
</section>