<% provide(:title, 'Discover') %>
<section class="container-fluid">
  <div class="modal fade p-0" id="helpModal">
    <div class="modal-dialog">
    </div>
  </div>
</section>
<section id="popForm" class="row center-modal">
  <div class="pt-3 pb-4 px-2 px-md-4 br2 bw1 b--solid shadow-3" style="width: 450px;">
    <h1 class="text-center mt-3">Create
      <a href="#" data-switch="#popForm" data-by="open">
        <i class="icon36 i--hv ion-md-close ml-2"></i>
      </a>
    </h1>
    <%= render partial: 'form', object: Sketch.new %>
  </div>
</section>
<section class="sketches-container">
  <aside class="sketches-aside-wrapper">
    <div class="sketches-aside">
      <div class="w-100" style="border-bottom: 3px dashed #b0bec5">
        <h5>程式库列表</h5>
        <p>点击<strong>新建</strong>，创建一个新的数据<br>
          <%= FFaker::Lorem.sentence %>
        </p>
        <a href="/sketches/new" data-switch="#popForm" data-by="open">
          <i class="icon48 i--hv i--green ion-md-add-circle-outline"></i>
        </a>
        <a href="/sketches/help" id="#getHelp" data-get="/sketches/help" data-to="#helpModal" data-toggle="modal" data-target="#helpModal">
          <i class="icon48 i--hv i--black ion-md-help-circle-outline"></i>
        </a>
      </div>
      <div class="w-100">
        <form class="ffpx" action="">
          <input class="m-0 mt-2" type="search" name="q" placeholder="筛选" value="">
        </form>
      </div>
      <div class="w-100">
        <h6 class="my-1 d-block fw5 gray ffpx"><%= Sketch.all.count %> Founded</h6>
      </div>
      <div class="w-100">
        <a href="#" class="d-block link hover-beta hover-bg-gray0">
          仅限自己
        </a>
        <a href="#" class="d-block link hover-beta hover-bg-gray0">
          仅限他人
        </a>
        <!-- <%= pie_by_week %> -->
      </div>
    </div>
  </aside>
  <main class="sketches">
    <section class="sketches-stream">
      <%= render partial: "sketch", object: @sketches %>
    </section>
  </main>
</section>