<% provide(:title, 'Discover Creators') %>
<style>
  .footer {
    display: none;
  }
</style>
<section id="popForm" class="row center-modal">
  <div class="pt-3 pb-4 px-2 px-md-4 br2 bw1 b--solid shadow-3" style="width: 450px;">
    <h1 class="text-center mt-3">Create
      <a href="#" data-switch="#popForm" data-by="open">
        <i class="icon36 i--hv ion-md-close ml-2"></i>
      </a>
    </h1>
    <%= render partial: 'form', object: Sketch.new %>
  </div>
</section>
<section class="examples-container">
  <aside class="examples-aside-wrapper">
    <div class="examples-aside">
      <div style="border-bottom: 3px dashed #b0bec5">
        <h5>程式库列表</h5>
        <p>点击<strong>新建</strong>，创建一个新的数据</p>
        <a href="/sketches/new" data-switch="#popForm" data-by="open">
          <i class="icon48 i--hv i--green ion-md-add-circle-outline"></i>
        </a>
        <a href="/sketches/help" id="#getHelp" data-get="/sketches/help" data-to="#helpModal" data-toggle="modal" data-target="#helpModal">
          <i class="icon48 i--hv i--black ion-md-help-circle-outline"></i>
        </a>
      </div>
    </div>
    <ul>
      <li>
        <a href="#">
          <%= FFaker::LoremJA.word.html_safe %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= FFaker::LoremJA.word.html_safe %>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <%= FFaker::LoremJA.paragraph.html_safe %>
      </li>
      <li>
        <%= FFaker::LoremJA.paragraph.html_safe %>
      </li>
      <li>
        <%= FFaker::LoremJA.paragraph.html_safe %>
      </li>
    </ul>
  </aside>
  <main class="examples">
    <section class="example-header">
      <span class="mb-3 d-block fw5 f6 tc gray8">All <%= Sketch.all.count %> Sketches</span>
      <div>
        <!-- <%= pie_by_week %> -->
      </div>
    </section>
    <section class="example-results">
      <%= render partial: "sketch", object: @sketches %>
    </section>
  </main>
</section>
<section class="container-fluid">
  <div class="modal fade p-0" id="helpModal">
    <div class="modal-dialog">
    </div>
  </div>
  <div class="row py-2" style="background: #212121">
    <div class="col px-5 text-center">
      <p class="text-white m-0">
        此模块正在维护
      </p>
      <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</section>