<div class="container">
  <div class="row p-0 p-md-5 mx-auto justify-content-center align-items-center" style="height: 100vh;max-width: 800px;">
    <div class="col col-md-6 col-lg-8">
      <%= form_for(:session, url: login_path) do |f| %>
        <h1 class="">Login</h1>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.submit "Log in" %>
        <p class="tl">Not a member? <%= link_to "Sign up now!", signup_path, class: "link green5 hover-green9" %></p>
      <% end %>
    </div>
  </div>
</div>