<div class="row p-5 justify-content-center align-items-center" style="height: 100vh;max-width: 800px;margin: 0 auto;overflow: hidden;">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <h1>Welcome Back!</h1>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Log in" %>
      <p class="text-center">Not a member? <%= link_to "Sign up now!", signup_path, style:"color: #15B342"%></p>
    <% end %>
  </div>
</div>