<section class="bg-gray0 col-12 pt-3 pb-4 px-md-4" style="height: 100%">
  <%= form_for(@user, class: "form-user") do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit "保存", class: "btn btn-primary btn-sm" %>
    <!-- <div class="avatar d-inline-block">
            <%= gravatar_for @user, size: 32 %>
            <a href="http://gravatar.com/emails" target="_blank" class="green5">change</a>
          </div> -->
    <%= error_tag @user, class: 'alert alert-danger' %>
  <% end %>
</section>