<div class="container">
  <div class="row mx-auto justify-content-center align-items-center" style="height: 100vh;max-width: 800px;">
    <div class="col col-md-6 col-lg-8">
      <%= form_for(@user, url: signup_path) do |f| %>
        <h1>Become Splashers</h1>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
        <%= render 'shared/user_error_messages' %>
        <%= f.submit "Send" %>
        <p class="tl my-3"><%= link_to "Login", login_path, class:"link green5 hover-green9" %></p>
      <% end %>
    </div>
  </div>
</div>