<section>
  <style>
    .auth-content {
        width: 100%;
        max-width: 416px;
        margin: auto;
    }
  </style>
  <main>
    <div class="auth-content">
      <div class="row justify-content-center align-items-center" style="height: 100vh">
        <div class="col">
          <%= form_for(@user, url: signup_path) do |f| %>
            <h1>Sign up</h1>
            <%= f.text_field :name, placeholder: "Name" %>
            <%= f.email_field :email, placeholder: "Email" %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
            <%= render 'shared/user_error_messages' %>
            <%= f.submit "Create" %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</section>