<% show_header %>
<%= render 'users/profile/header' %>
<%= render 'users/profile/card' %>
<section class="profile-wrapper">
  <div class="profile-primary-navigation">
    <nav class="nav nav-tabs">
      <a class="nav-item nav-link active" data-toggle="tab" href="#summary">
        统计资料
      </a>
      <a class="nav-item nav-link" data-toggle="tab" href="#artworks">
        创作
      </a>
      <a class="nav-item nav-link" data-toggle="tab" href="#topics">
        话题
      </a>
      <a class="nav-item nav-link" data-toggle="tab" href="#replies">
        回复
      </a>
      <a class="nav-item nav-link" data-toggle="tab" href="#badges">
        成就
      </a>
    </nav>
  </div>
  <div class="profile-primary-warpper tab-content">
    <%= render 'users/profile/summary' %>
    <%= render 'users/profile/activity' %>
    <%= render 'users/profile/badges' %>
  </div>
</section>
<script>
  $(document).ready(function() {
    $("body").css({ "overflow-y": "scroll" });
    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
        location.hash = this.getAttribute("href");
    });
  });
  $(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
  });
</script>