<!--  -->
<h3 class="x header"><%= bootstrap_icon "hash" %>锚点
  <p class="x header lead">color background-color border-color</p>
</h3>
<p class="x header block">
  <code>.$colorName</code><strong class="teal">文本</strong>
  <code>.bg$colorName</code><strong class="bgteal white">背景</strong>
  <code>.b$colorName</code><strong class="bteal ba">边框</strong>
</p>
<div class="row row-cols-3">
  <div class="col">
    <p class="primary">静止</p>
    <code>class="primary"</code>
  </div>
  <div class="col">
    <p class="primaryh">悬浮</p>
    <code>class="primaryh"</code>
  </div>
  <div class="col">
    <p class="primaryf">焦点</p>
    <code>class="primaryf"</code>
  </div>
</div>
<h3 class="x header">
  定制
  <div class="x header lead">
    <a href="https://en.wikipedia.org/wiki/List_of_colors:_A%E2%80%93F" class="x link">查询颜色名</a>
  </div>
</h3>
<!--  -->
<h3 class="x header block">$xSkinPelettesApp
</h3>
<table class="table table-bordered table-responsive-sm my-2 no-break" style="width: auto">
  <thead>
    <tr>
      <th scope="col">类</th>
      <th scope="col">主色</th>
      <th scope="col">深色</th>
      <th scope="col">浅色</th>
      <th scope="col">协调色</th>
    </tr>
  </thead>
  <tbody>
    <% ["red","pink","purple","grape","indigo","blue","skyblue","cyan","teal","green","chartreuse","lime","yellow","amber","orange","deeporange"].each do |color| %>
      <tr>
        <td><code class="bgblack0125 primary p-2">bg<%=color%></code></td>
        <td>
          <div class="bg<%=color%> p-2 d-inline-block br1 shadow"></div>
        </td>
        <td>
          <% (1..5).to_a.each do |index| %>
            <div class="bg<%=color%><%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
        <td>
          <% (1..5).to_a.each do |index| %>
            <div class="bg<%=color%>0<%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
        <td>
          <% (0..1).to_a.each do |index|  %>
            <div class="bg<%=color%>A<%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--  -->
<table class="table table-bordered table-responsive-sm my-2 no-break" style="width: auto">
  <thead>
    <tr>
      <th scope="col">类</th>
      <th scope="col">主色</th>
      <th scope="col">浅色</th>
    </tr>
  </thead>
  <tbody>
    <% ["gray", "dark", "lead"].each do |color| %>
      <tr>
        <td><code class="bgblack0125 primary p-2">bg<%=color%></code></td>
        <td>
          <div class="bg<%=color%> p-2 d-inline-block br1 shadow"></div>
        </td>
        <td>
          <% (1..9).to_a.each do |index| %>
            <div class="bg<%=color%>0<%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--  -->
<h4 class="x header block">$xSkinPelettesTachyons</h4>
<table class="table table-bordered table-responsive-sm my-2 no-break" style="width: auto">
  <thead>
    <tr>
      <th scope="col">类</th>
      <th scope="col">主色</th>
      <th scope="col">深色</th>
      <th scope="col">浅色</th>
    </tr>
  </thead>
  <tbody>
    <% ["red","orange","gold","yellow","purple","pink","green","navy","blue"].each do |color|  %>
      <tr>
        <td><code class="bgblack0125 primary p-2">bgT<%=color%></code></td>
        <td>
          <div class="bgT<%=color%> p-2 d-inline-block br1 shadow"></div>
        </td>
        <td>
          <% (1..1).to_a.each do |index|  %>
            <div class="bgT<%=color%><%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
        <td>
          <% (1..1).to_a.each do |index|  %>
            <div class="bgT<%=color%>0<%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--  -->
<h4 class="x header block">
  $xSkinShades
</h4>
<table class="table table-bordered table-responsive-sm my-2 no-break" style="width: auto">
  <thead>
    <tr>
      <th scope="col">黑</th>
      <th scope="col">类</th>
      <th scope="col">浓度</th>
      <th scope="col">白</th>
      <th scope="col">类</th>
      <th scope="col">浓度</th>
    </tr>
  </thead>
  <tbody>
    <% colors = ["black", "white"] %>
    <% ['','90','80','70','60','50','40','30','20','15','10','05','02','01','025','0125'].each do |index|  %>
      <tr>
        <% colors.each do |color|  %>
          <td class="<%= 'bgdark' if color=='white' %>">
            <div class="bg<%=color%><%=index%> p-2 d-inline-block br1 shadow"></div>
          </td>
          <td><code class="bgblack0125 primary p-2">bg<%=color%><%=index%></code></td>
          <td><code class="bgblack0125 primary p-2"><%=index%><%='100' if index.empty?%></code></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<!--  -->
<h3 class="x header block">
  $theme-colors
  <div class="x header lead">Bootstrap</div>
</h3>
<table class="table table-bordered table-responsive-sm my-2 no-break" style="width: auto">
  <thead>
    <tr>
      <th scope="col">类</th>
      <th scope="col">主色</th>
      <th scope="col">深色</th>
      <th scope="col">浅色</th>
    </tr>
  </thead>
  <tbody>
    <% colors = ["primary","secondary","success","info","warning","danger"] %>
    <% colors.each do |color|  %>
      <tr>
        <td><code class="bgblack0125 primary p-2">bg<%=color%></code></td>
        <td>
          <div class="bg<%=color%> p-2 d-inline-block br1 shadow"></div>
        </td>
        <td>
          <% (1..1).to_a.each do |index|  %>
            <div class="bg<%=color%><%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
        <td>
          <% (1..1).to_a.each do |index|  %>
            <div class="bg<%=color%>0<%=index%> p-2 d-inline-block br1 shadow"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>