<header class="hnavbar">
  <section class="hnavbar-grow">
    <div class="hnavbar-brand">
      <%= link_to root_path, class: "" do %>
        <ion-icon name="ellipse" class="icon-24 icon-transform-hue-90"></ion-icon>
        <span class="nav-version">1.00a</span>
      <% end %>
    </div>
    <div class="hnavbar-search">
      <%= form_for :search, url: "/search", method: "get" do |f| %>
        <%= f.text_field :q, class: "form-control" %>
      <% end %>
    </div>
  </section>
  <section class="hnavbar-menu">
    <% if logged_in? %>
      <%= link_to '浏览', sketches_path, class: "btn btn-primary btn-hnavbar" %>
      <div class="dropdown">
        <button class="btn btn-secondary btn-hnavbar dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %><b class="caret"></b>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "主页", current_user, class: "dropdown-item" %>
          <%= link_to "账号设定", edit_user_path(current_user), class: "dropdown-item" %>
          <%= link_to "登出", logout_path, class: "dropdown-item", method: :delete %>
          <% if current_user.name == "kuyenda" %>
            <h6 class="dropdown-header">其他</h6>
            <%= link_to '管理', users_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to '登入', login_path, class: "btn btn-outline-primary btn-hnavbar" %>
      <%= link_to "注册", signup_path, class: "btn btn-primary btn-hnavbar" %>
    <% end %>
  </section>
</header>