<header class="navbar">
  <div class="nav-logo">
    <a href="/">Splash</a>
    <span class="version">0.01-b</span>
  </div>
  <div class="nav-menu">
    <ul class="nav-menu-items">
      <li class="nav-menu-item">
        <%= link_to '主页', root_path, class: "nav-menu-link" %>
      </li>
      <li class="nav-menu-item">
        <%= link_to '草图', sketches_path, class: "nav-menu-link" %>
      </li>
      <li class="nav-menu-item">
        <%= link_to '话题', topics_path, class: "nav-menu-link" %>
      </li>
      <% if logged_in? && current_user.name == "kuyenda" %>
        <li class="nav-menu-item">
          <%= link_to '管理', users_path, class: "nav-menu-link" %>
        </li>
      <% end %>
      <% if logged_in? %>
        <li class="nav-menu-item dropdown">
          <a href="#" class="dropdown-toggle nav-menu-link" data-toggle="dropdown">
            账户<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to current_user.name, current_user, class: "nav-menu-link dropdown-link" %></li>
            <li><%= link_to "设定", edit_user_path(current_user), class: "nav-menu-link dropdown-link" %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "登出", logout_path, class: "nav-menu-link dropdown-link", method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-menu-item">
          <%= link_to 'Login', login_path, class: "nav-menu-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="nav-mobile-button">
    <a data-switch="#mobile-menu .hamburger" data-by="open is-active">
      <div class="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="nav-mobile" id="mobile-menu">
    <form class="nav-mobile-form ffpx" action="">
      <ion-icon name="search" class="white"></ion-icon>
      <input class="nav-mobile-input" type="search" name="q" placeholder="" value="">
    </form>
    <ul class="nav-mobile-menu">
      <li>
        <a href="#" class="nav-mobile-dropdown-toggle" data-sub-nav="explore">
          探索
        </a>
        <ul class="nav-mobile-dropdown">
          <li>
            <%= link_to 'Sketch', sketches_path, class: "mobile-link" %>
          </li>
        </ul>
      </li>
      <% if logged_in? %>
        <ul>
          <li>
            <%= link_to "我", current_user, class: "mobile-link" %>
          </li>
          <li>
            <%= link_to "登出", logout_path, class: "mobile-link", method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%= link_to '登录', login_path, class: "mobile-link" %>
          </li>
          <li>
            <%= link_to "注册", signup_path, class: "mobile-link" %>
          </li>
        </ul>
      <% end %>
    </ul>
  </div>
</header>