<% if @id.nil? %>
  <section class="container-fluid">
    <div class="row p-3 p-sm-4 p-md-5 x bb bgblue5 white">
      <div class="col p-3 p-sm-4 p-md-5">
        <div class="p-3 p-sm-4 p-md-5 x text center">
          <h1 class="x text break font size3 size2-md">.xCSS语义文档</h1>
          <p>v<%= DocumentsController::DOC_VERSION %><%= RUBY_PLATFORM %></p>
        </div>
      </div>
    </div>
  </section>
<% end %>
<nav class="d-flex flex-column">
  <!-- Section Icon Directory -->
  <section class="container my-sm-2 my-md-3 <%= 'order-3' if @id %>">
    <ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list bgblack0125 pt-2">
      <% @docs.each do |doc| %>
        <% if doc[:icon] %>
          <li class="col mb-4" data-tags="<%= doc[:icon_name] %>">
            <%= link_to(document_url(doc[:href]), class: "d-block text-decoration-none x transformed primaryh") do %>
              <div class="p-2 py-3 mb-2 bgblack02 text-center rounded x transformed bglead07h">
                <%= bootstrap_icon doc[:icon], width: 48, height: 48 %>
              </div>
              <div class="text-muted text-decoration-none text-center pt-1"><%= doc[:text] %></div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
  <!-- Section Sidebar & Contents-->
  <% if @id %>
    <section class="container-fluid mb-5 x header stacked">
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block bgblack05">
          <div class="ml-auto mt-5 p-2" style="max-width: 300px">
            <div class="mb-2">
              <code class="language-ruby x text break"><%= params %></code>
            </div>
            <%= render 'documents/sidebar_directory' %>
          </div>
        </div>
        <div class="col-12 col-lg-9 col-xl-7 x headerWrapper skindark spacing bgblack0125">
          <div class="p-lg-2 p-md-2 p-1">
            <%= render 'documents/documentation/' + @id %>
          </div>
        </div>
        <div class="col-xl-2 d-xl-block d-none x debugGrid16">
        </div>
      </div>
    </section>
  <% end %>
  <!-- Section Example -->
  <% if @id.nil? %>
    <section class="container">
      <div class="row row-cols-1">
        <div class="col p-sm-4 p-md-1 x bglead09 gray04">
          <div class="p-3 p-sm-4 p-md-5">
            <p>基于SASS编译的辅助<strong>样式框架</strong></p>
            <div class="x header">
              <code class="css">.x font size3 transformed gray02h</code>
            </div>
            <div class="x header block">
              <h1 class="x font size2 transformed gray02h"><%= FFaker::LoremJA.paragraph %></h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</nav>
<%= render 'layouts/sections/footer' %>