<div class="example-page">
  <div class="row">
    <div class="col">
      <%= form_for(@example) do |f| %>
        <h1 class="text-center text-white"><%= @example.digit %></h1>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_field :description, placeholder: "Description" %>
        <%= render 'shared/example_error_messages' %>
        <%= f.submit "Save changes" %>
        <div class="form-tool">
          <%= link_to "", @example, class: "icon36 i--white i--hv ion-ios-arrow-back"%>
          <%= link_to "", @example, class: "icon36 i--white i--hv ion-md-trash", method: :delete, data: { confirm: "You sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>