<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#edit</h1>
      <p>Find me in app/views/examples/edit.html.erb</p>
    </div>
    <div class="row bg-transparent">
      <div class="col">
        <%= form_for(@example) do |f| %>
          <h1 class="text-center"><%= @example.digit %></h1>
          <%= f.text_field :title, placeholder: "Title" %>
          <%= f.text_field :description, placeholder: "Description" %>
          <%= render 'shared/error_messages' %>
          <%= f.submit "Save changes" %>
          <div class="form-tool">
            <%= link_to "返回", @example %>
            <%= link_to "删除", @example, method: :delete, data: { confirm: "You sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
    <!--     <div class="row bg-transparent">
      <div class="col">
        <div class="btns mt-md-3 mt-sm-2 mb-md-3">
          <%= link_to "返回", @example, class:'btn ebtn ruby mx-3' %>
          <%= link_to "删除", @example, method: :delete, data: { confirm: "You sure?" }, class: "btn ebtn ruby mx-3" %>
        </div>
      </div>
    </div> -->
  </div>
</div>