<div class="examples-container">
  <div class="examples-panel-wrap">
    <div class="examples-panel">
      <div>
        <h5>开始创建P5.js程式库</h5>
        <p>你可以点击新建，来创建一个新的数据，我们将长期保存在列表中</p>
        <a class="icon ion-md-add-circle text-white display-4" href="/examples/new">
        </a>
        <a class="icon ion-md-help-circle text-white display-4" href="/examples/help">
        </a>
      </div>
    </div>
  </div>
  <div class="examples">
    <% @example.each do |e| %>
      <% color = rand_hex_color %>
      <% color2 = reverse_hex_color(color) %>
      <div class="example-item">
        <div class="example-shot" style="background-color:<%= color %>">
          <%= link_to "", e, class:'example-link' %>
          <h6 class="example-date" style="color: <%= color2 %>"><%= e.created_at.ctime %>
          </h6>
          <div class="example-options">
            <span><i class="icon ion-md-eye"><%= e.hit %></i></span>
            <span><i class="icon ion-md-heart"><%= e.like %></i></span>
          </div>
        </div>
        <div class="example-name">
          <h6 class="example-title"><%= e.title %></h6>
          <h6 class="example-id"><%= e.digit %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>