<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#index</h1>
      <p>Find me in app/views/examples/index.html.erb</p>
    </div>
    <div class="row dark">
      <div class="col">
        <h3 class="text-center">开始创建P5.js程式库</h3>
        <div class="btns mt-md-3 mt-sm-2 mb-md-3">
          <a class="btn ebtn ruby mx-3" href="/examples/new">
            新建
          </a>
          <a class="btn ebtn ruby mx-3" href="/examples/help">
            阅读指南
          </a>
        </div>
      </div>
    </div>
    <% @example.each.with_index do |e, i| %>
      <% even = i.even? %>
      <% if even %>
        <div class="row colored nop">
        <% end %>
        <% color = rand_hex_color %>
        <div class="col-6 data-col" style="background-color: <%= color %>">
          <h4 class="data-title"><%= e.title %></h4>
          <% if e.description && !e.description.empty?  %>
            <p class="data-info"><%= e.description %></p>
          <% end %>
          <%= link_to "Check", e, class:'data-link' %>
          <span style="position: absolute;bottom: 0;left: 25px;font-size: 9px;color: <%= reverse_hex_color(color) %>"><%= e.created_at.ctime %><br>
            <%= e.updated_at.ctime %>
          </span>
        </div>
        <% if !even or (even and i == @example.size-1) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>