<div class="examples-container">
  <div class="examples-panel-wrap">
    <div class="examples-panel">
      <div style="border-bottom: 3px dashed #455a64">
        <h5>P5.js程式库列表</h5>
        <p>点击<strong>新建</strong>，创建一个新的数据</p>
        <a href="/examples/new" class="text-decoration-none">
          <i class="icon -md48 -aniamted -green ion-md-add-circle-outline"></i>
        </a>
        <a href="/examples/help" class="text-decoration-none">
          <i class="icon -md48 -aniamted -dark ion-md-help-circle-outline"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="examples">
    <% @example.each do |e| %>
      <% color = rand_hex_color %>
      <% color2 = reverse_hex_color(color) %>
      <div class="example-item">
        <div class="example-shot" style="background-color:#1058c0">
          <%= link_to "", e, class:'example-link' %>
          <h6 class="example-date" style="color: #fff"><%= e.created_at.ctime %>
          </h6>
          <div class="example-options">
            <span><i class="icon ion-md-eye"><%= e.hit %></i></span>
            <span><i class="icon ion-md-heart"><%= e.like %></i></span>
          </div>
        </div>
        <div class="example-name">
          <h6 class="example-title"><%= e.title %></h6>
          <h6 class="example-id"><%= e.digit %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>