<script>
  window._p5jsExample = '/assets/00_noisewave.js'
  !function(w) {
    $('[data-example-name]').text(w._p5jsExample)
  }(this)
</script>
<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#index</h1>
      <p>Find me in app/views/examples/index.html.erb</p>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-center">开始创建P5.js程式库</h3>
        <div class="btns mt-md-3 mt-sm-2 mb-md-3">
          <a class="btn et-btn primary mx-3" href="/examples/new">
            新建
          </a>
          <a class="btn et-btn primary mx-3" href="/examples/guide">
            阅读指南
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>
          <% symbols = ["a".."z", "A".."Z", "0".."9"].map{ |range| range.to_a }.flatten %>
          <%= (0...8).map{ symbols[rand(symbols.size)] }.join %>
        </h3>
        <h2 data-example-name=""></h2>
      </div>
    </div>
    <% @example.each do |e| %>
      <div class="row colored">
        <div class="col">
          <h3>PIN: <%= e.title %></h3>
          <h3>URL: <%= e.url %></h3>
          <%= link_to "查看", e, class:'btn et-btn primary mx-3' %>
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag "/assets/brace" %>
    <%= javascript_include_tag "/assets/brace/ext/language_tools" %>
    <div class="row frame-row">
      <iframe src="/examples/example" id="exampleFrame" frameborder="0" class="col frame-col" style="height: 500px">
      </iframe>
    </div>
    <div class="row frame-row">
      <div class="col frame-col">
        <pre id="exampleEditor" class="ace_editor ace-tm" style="height: 300px;width: 100%;">
    </pre>
      </div>
      <div class="row">
        <div class="edit_space">
          <button id="toggleTextOutput" class="sr-only">toggle text output</button>
          <button id="runButton" class="edit_button">run</button>
          <button id="resetButton" class="reset_button">reset</button>
          <button id="copyButton" class="copy_button">copy</button>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "/assets/example" %>
  </div>
</div>