<div class="example-page">
  <div class="row">
    <div class="col">
      <h1>Examples#new</h1>
      <p>Find me in app/views/examples/new.html.erb</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_for(@example) do |f| %>
        <h1 class="text-center text-white">Sketch.new</h1>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_field :description, placeholder: "Description" %>
        <%= f.hidden_field :hit, value: 0 %>
        <%= f.hidden_field :like, value: 0 %>
        <%= render 'shared/example_error_messages' %>
        <%= f.submit "Create" %>
        <div class="form-tool">
          <%= link_to "返回", examples_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>