<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#new</h1>
      <p>Find me in app/views/examples/new.html.erb</p>
    </div>
    <h1 class="text-center">新的草图</h1>
    <div class="row">
      <div class="col py-md-4">
        <%= form_for(@example) do |f| %>
          <%= f.label :title, '画布主题'  %>
          <%= f.text_field :title %>
          <%= f.label :title, '描述'  %>
          <%= f.text_area :description %>
          <%= f.hidden_field :hit, value: 0 %>
          <%= f.hidden_field :like, value: 0 %>
          <%= render 'shared/error_messages' %>
          <%= f.submit "Create!", class: "btn ebtn ruby" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="btns mt-md-3 mt-sm-2 mb-md-3">
          <%= link_to "返回", examples_path, class:'btn ebtn ruby mx-3' %>
        </div>
      </div>
    </div>
  </div>
</div>