<script>
  window._p5jsExample = '<%= @example.url  %>'
  !function(w) {
    $('[data-example-name]').text(w._p5jsExample)
  }(this)
</script>
<div class="d116">
  <div class="container">
    <div>
      <h1>Examples#show</h1>
      <p>Find me in app/views/examples/show.html.erb</p>
    </div>
    <div class="row">
      <div class="col">
        <h3>PIN: <%= @example.title %></h3>
        <h3>URL: <%= @example.url %></h3>
        <%= link_to "编辑", edit_example_path(@example), class:'btn ebtn ruby mx-3' %>
        <%= link_to "返回", examples_path, class:'btn ebtn ruby mx-3' %>
      </div>
    </div>
    <%= render 'examples/editor' %>
    <%= javascript_include_tag "/assets/example" %>
  </div>
</div>