<script>
  window._p5jsExample = '<%= "/examples/users/#{@example.digit}.js"  %>'
  window._p5jsExampleDigits = '<%= @example.digit %>'
</script>
<div class="example-page frame-page">
  <div class="sketch-info" id="sketch-info">
    <div class="sketch-para">
      <h1 class="font-weight-normal"><%= @example.title %><span>/<%= @example.digit %></span></h1>
      <hr style="border-top: 4px dashed #fff;">
      <p><%= @example.description %></p>
    </div>
  </div>
  <div class="side-frame">
    <div class="sketch-info-btns">
      <i class="icon -md36 -aniamted ion-md-information-circle-outline" id="sketch-info-btn"></i>
      <%= link_to "", edit_example_path(@example), class:'icon -md36 -aniamted ion-md-aperture text-white' %>
    </div>
    <div class="row frame">
      <iframe src="/examples/example" id="exampleFrame" frameborder="0" class="frame-win col p-0">
      </iframe>
      <div class="frame-mobile-options">
        <a id="runButton-m" class="icon -md36 ion-md-refresh"></a>
        <%= link_to "", examples_path, class:'icon -md36 ion-md-arrow-round-back' %>
      </div>
    </div>
  </div>
  <div class="side-editor">
    <div class="row toolbar">
      <div class="tool-options">
        <button id="toggleTextOutput" class="sr-only">toggle text output</button>
        <button id="runButton" class="btn ebtn transparent" data-toggle="tooltip" data-placement="top" title="Run sketch">
          <i class="icon -md36 -aniamted -green ion-md-play"></i>
          run
        </button>
        <button id="copyButton" class="btn ebtn transparent">
          <i class="icon -md36 -aniamted -green ion-md-copy"></i>
          copy</button>
        <button id="resetButton" class="btn ebtn transparent">
          <i class="icon -md36 -aniamted -green ion-md-refresh"></i>
          reset
        </button>
        <button id="saveButton" class="btn ebtn transparent">
          <i class="icon -md36 -aniamted -green ion-md-save"></i>
          save</button>
        <button id="optionsButton" class="btn ebtn transparent">
          <i class="icon -md36 -aniamted -green ion-md-cog"></i>
          options</button>
      </div>
    </div>
    <div class="row editor">
      <div class="col p-0">
        <div id="exampleEditor">
        </div>
      </div>
    </div>
    <div class="editor-options">
    </div>
  </div>
</div>
<%= javascript_include_tag "example" %>