<section class="h-100">
  <div class="container-fluid h-75 bg-dark9">
    <div class="relative row h-100 justify-content-center align-items-center">
      <div class="col-10 col-md-6 z-2 white text-center">
        <h1 class="f8">op<span class="underline">en</span> <span class="f6 fw8">sketch</span></h1>
        <p class="gray3">创意编程的<b>中文社区</b></p>
        <div class="row justify-content-center">
          <div class="col" style="max-width: 350px">
            <% unless logged_in? %>
              <%= link_to "注册", signup_path, class: "btn btn-primary btn-block br5" %>
              <%= link_to '登入', login_path, class: "btn btn-dark btn-block br5" %>
            <% else %>
              <h6 class="tl mt-2">您好！<%= current_user.name %></h6>
              <%= link_to '发现', sketches_path, class: "btn btn-outline-success btn-block br5" %>
              <%= link_to "退出登录", logout_path, class: "mt-1 link white-50 glow d-block tl", method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="absolute w-100 h-100 home-img">
      </div>
    </div>
  </div>
  <div class="container-fluid h-25 bg-dark9">
    <div class="row">
      <div class="col">
        <p class="white-20 f2">
          MIT 开源许可协议<br>
          版权所有 (c) 2020 @kuyenda
        </p>
        <div class="white f4">
          <a href="/" data-toggle="tooltip" onclick="return false;" data-placement="top" title="基于Rails<%= Rails.version %>">
            <ion-icon name="information-circle-outline"></ion-icon>
          </a>
          <a href="https://github.com/kuyenda/splash" data-toggle="tooltip" data-placement="top" title="克隆项目">
            <ion-icon name="git-branch"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>