<%= render partial: "application/home/enrique" %>
<section class="py-md-5 py-3" style="min-height: 700px">
  <div class="container mt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% HighVoltage.page_ids.sort{|a, b| b.size <=> a.size}.reverse.each do |i|  %>
          <li class="breadcrumb-item active"><%= link_to(i, page_path(i), class:"f3 link-underline-light o-90 glow") %></li>
        <% end %>
      </ol >
    </nav>
  </div>
  <div class="container">
    <nav class="nav nav-tabs nav-fill">
      <a class="nav-item nav-link active" data-toggle="tab" href="#patch">新闻</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#patch2">开发</a>
    </nav>
    <div class="tab-content dark7 overflow-hidden ba b-black-10">
      <div class="tab-pane show active ffpx fade p-4" id="patch">
        <h1>欢迎来到splash！</h1>
        <h6>无门槛创意编程的<b>中文社区</b></h6>
        <%= link_to "探索", sketches_path, class: "btn btn-primary btn-sm" %>
      </div>
      <div class="tab-pane fade p-4" id="patch2">
        <table class="table table-sm table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">序列</th>
              <th scope="col">宝石</th>
              <th scope="col">版本</th>
            </tr>
          </thead>
          <tbody>
            <% Gem::Specification.all.each.with_index do |e, i| %>
              <tr>
                <th><%= i+1 %></th>
                <th><%= e.name %></th>
                <th><%= e.version %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="card">
      <div class="card-header bg-blue0">
      </div>
      <div class="card-body">
        <h5 class="card-title">alpha1.00a</h5>
        <p class="card-text">请注意这是一个实验版本，数据不被保证储存。</p>
      </div>
    </div>
  </div>
</section>