<header class="navbar">
  <div class="navbar-logo">
    <a class="logo" href="/">Untitled<span>page</span></a>
  </div>
  <div class="navbar-md">
    <ul class="nav-items">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sketch', examples_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Users', '#', class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user, class: "nav-link dropdown-link" %></li>
            <li><%= link_to "Settings", '#', class: "nav-link dropdown-link" %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, class: "nav-link dropdown-link", method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="navbar-icons">
    <ul class="icons-list">
      <li class="icon-list" id="mobile-menu-btn">
        <a class="icon-link">
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-mobile-menu" id="mobile-menu">
    <ul class="mobile-list">
      <li class="mobile-item">
        <%= link_to 'Home', root_path, class: "mobile-link" %>
      </li>
      <li class="mobile-item">
        <%= link_to 'Sketch', examples_path, class: "mobile-link" %>
      </li>
      <% if logged_in? %>
        <li class="mobile-item">
          <%= link_to "Profile", current_user, class: "mobile-link" %>
        </li>
        <li class="mobile-item">
          <%= link_to "Log out", logout_path, class: "mobile-link", method: :delete %>
        </li>
      <% else %>
        <li class="mobile-item">
          <%= link_to 'Login', login_path, class: "mobile-link" %>
        </li>
        <li class="mobile-item">
          <%= link_to "Sign up", signup_path, class: "mobile-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>