<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <audio preload="auto" id='player' class="audio-menu" controls></audio>
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>