<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Untitled Element Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a6035bb910.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="et-content">
      <audio preload="auto" id='player'></audio>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "dom.js", :defer => "defer" %>
    <%= javascript_include_tag "sound.js", :defer => "defer" %>
  </body>
</html>