<!DOCTYPE html>
<html>
  <head>
    <%= render 'application/layout/meta' %>
  </head>
  <body>
    <%= render 'application/layout/header' %>
    <div id="app">
      <%= render 'application/layout/groups' %>
      <%= yield %>
    </div>
    <%= render 'application/layout/footer' if @show_footer %>
  </body>
</html>