<!DOCTYPE html>
<html>
  <head>
    <%= render 'application/layout/meta' %>
  </head>
  <body>
    <%= render 'application/layout/header' if @show_header %>
    <%= render 'application/layout/groups' %>
    <%= yield %>
    <%= render 'application/layout/footer' if @show_footer %>
  </body>
</html>